*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: tomato;
  text-align: center;
}
.app-title{
  color: aqua;
  padding: 1rem;
  margin: 1rem;
  font-size: 3rem;
  font-family: cursive;
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px black;
}